@import "../variables";

.catalog {
  padding-top: 160px;
  padding-bottom: 162px;
  display: flex;
  justify-content: space-between;
  &-content {
    position: relative;
    max-width: 540px;
    &_title {
      font-size: 36px;
      line-height: 48px;
      padding-bottom: 16px;
      @include title;
    }
    &_description {
      @include description;
    }
    &_items {
      display: flex;
      justify-content: space-between;
      padding-top: 80px;
      &__item {
        max-width: 255px;
        &__title {
          font-style: normal;
          font-weight: 500;
          font-size: 16px;
          line-height: 26px;
          color: #091133;
          @include bold;
        }
        &__description {
          font-weight: normal;
          font-size: 12px;
          line-height: 18px;
          color: #5d6970;
          @include regular;
        }
      }
    }
  }
  .undraw {
    margin-top: -90px;
    max-width: 540px;
    min-width: 349px;
  }
}

@media (max-width: 1100px) {
  .catalog {
    flex-direction: column;
    .undraw {
      margin-top: 0;
    }
  }
}

@media (max-width: 560px) {
  .catalog {
    &-content {
      &_items {
        flex-direction: column-reverse;
        &__item {
          padding-bottom: 20px;
        }
      }
    }
  }
}

@media (max-width: 892px) {
  .catalog {
    .undraw {
      max-width: 470px;
    }
  }
}

@media (max-width: 480px) {
  .catalog {
    .undraw {
      max-width: 280px;
      max-height: 300px;
    }
  }
}
